proxy server {
  default_fallback = no
}

home_server localhost {
  type = auth
  ipaddr = 127.0.0.1
  port = 1812
  secret = {{localSecret}}
  response_window = 20
  zombie_period = 40
  revive_interval = 120
  status_check = status-server
  check_interval = 30
  check_timeout = 4
  num_answers_to_alive = 3
  max_outstanding = 65536

  coa {
    irt = 2
    mrt = 16
    mrc = 5
    mrd = 30
  }

  limit {
    max_connections = 32
    max_requests = 0
    lifetime = 0
    idle_timeout = 0
  }
}

home_server_pool my_auth_failover {
  type = fail-over
  home_server = localhost
}

realm LOCAL {
}

realm {{domain}} {
}
